<p class="notice"><%= notice %></p>
<div class="container">
  <h1>Sobre Mim</h1>
  
  <div class="books-columns">
    <div class="column">
        <h2>Quem sou<h2>
            <p>qskewfnklewnqdkndpkqnwdfmçkqwnmd. </p>
            <br>
            <br>       
        <h2>Estudo Ruby<h2>
            <p>smlkacnqlksenclqsanclksacnksafnA. </p>
            <br>
            <br>
    </div>
  </div>
</div>

<div class="button-container">
  <%= link_to "Cadastrar Livro", new_book_path, class: "btn btn-secondary" %>
</div>
            <br>
            <br>
<footer>
  <p>Página sobre.html.erb</p>
</footer>