<h1>Editar Livro</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Mostre-me este livro", @book %> |
  <%= link_to "Volte para a relação", books_path %>
</div>

<footer>
    <p>Página edit.html.erb</p>
</footer>

